# {{ ansible_managed }}

# Anything that uses %i must be in the unit files

#  Other possibly interesting pppd options:
#    asyncmap (to require escaping various chars see manpage)

#PPPD_SERVICE=pppd@%i.service
PPPD_OPTIONS={{ (gadget_pppd_options_default + gadget_pppd_options) | join(' ') }}

ETH0_DEVICE={{ gadget_pppd_eth0_device }}
#HOST_DEVICE=pppd-host%i
#PEER_DEVICE=pppd-peer%i

# Addressing of last 8-bit IP segment:
#  * /30 CIDR block (4 IPs - 2 IPs (network, broadcast) = 2 IPs)
#  * /31 CIDR block (2 IPs (ppp: no network, broadcast) = 2 IPs)
#  * /32 CIDR block (1 IP host route)
#  * %i must be 0-62
#
#    what    8-bit   CIDR  device-name
#  -----------------------------------
#  - host    %i*4    /31   pppd-host%i
#  - peer    %i*4+1  /31   pppd-peer%i
#  - alias   %i*4+2  /32
#  - extra   %i*4+3  /32
#
# eg: pppd@1 => host: 4; peer: 5

{% set ip = gadget_pppd_ip | default(gadget_pppd_ip_default) %}
IP_BASE={{ ip.base }}
# Be sure to use ${IP_BASE}.${IP_HOST}/${IP_MASK}
IP_MASK={{ ip.mask }}
IP_ALIAS_MASK={{ ip.alias_mask }}
#IP_HOST=$((%i*4))
#IP_PEER=$((%i*4+1))
#IP_ALIAS=$((%i*4+2))
#IP_EXTRA=$((%i*4+3))
IP_GADGET={{ ip.gadget }}
IP_PPP={{ ip.ppp }}
